<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <style>
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
                display: none !important;
            }
        </style>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    </head>
    <body ng-app="comuapp" class="ng-cloak">
        <div class="container" ng-controller="ComuCtrl" ng-init="initPage()">
            <div class="row">
                <div class="col-md-8">
                    <h3>Berlinale Streaming Report - TOPIX Platform</h3>
                    <h4>Change year to see the magic <span ng-if="loading" style="color: red;">Loading...</span></h4>
                    <div class="pull-left">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="year">Year</label>
                                <select id="year" class="form-control" ng-model="year_choice" ng-change="loading=true;changeChoice();">
                                    <option>2012</option>
                                    <option>2013</option>
                                    <option>2014</option>
                                    <option>2015</option>
                                    <option>2016</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="appname">App Name</label>
                                <select id="appname" class="form-control" ng-model="app_choice" ng-change="loading=true;changeChoice();">
                                    <option>ALL</option>
                                    <option>pk</option>
                                    <option>rt</option>
                                    <option ng-hide="year_choice==2012">film</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-12">
                    <h4 ng-bind="view_message" style="color: steelblue"></h4>
                </div>
            </div>
            <hr/>
            <div class="row text-center">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <tr>
                            <th>Day</th>
                            <th>Total</th>
                            <th>Slot 8-10</th>
                            <th>Slot 10-12</th>
                            <th>Slot 12-14</th>
                            <th>Slot 14-16</th>
                            <th>Slot 16-18</th>
                            <th>Slot 18-20</th>
                            <th>Slot 20-22</th>
                            <th>Slot 22-24</th>
                        </tr>
                        <tr ng-repeat="value in result">
                            <td ng-bind="value['day']"></td>
                            <td ng-bind="value['total']" style="background-color: rgba(79, 198, 115, 0.5)"></td>
                            <td ng-repeat="slot in value['value']" style="background-color: rgba(30,144,255, {{slot['perc']/100}});">
                                {{slot['perc']}} % <br/> {{slot['bytes']}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <script type="application/javascript" src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
        <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script type="application/javascript" src="http://d3js.org/d3.v3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script type="application/javascript" src="/app.js"></script>
    </body>
</html>
